<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hogwarts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="grid">
    <div class="grid-row grid-row-top">
    <div class="cell" id="gryffindor">Gryffindor</div>
    <div class="cell" id="hufflepuff">Hufflepuff</div>
    </div>
    <div class="grid-row grid-row-btm">
    <div class="cell" id="ravenclaw">Ravenclaw</div>
    <div class="cell" id="slytherin">Slytherin</div>
    </div>
</div>
<div class="classhogwarts">
<img src="/img/hagrid.jpeg" alt="hagrid">
<img src="/img/umbridge.jpeg" alt="hagrid">
<img src="/img/voldemort.jpeg" alt="hagrid">
<img src="/img/unsure.jpeg" alt="hagrid">
<img src="/img/potter.jpeg" alt="hagrid">
<img src="/img/dobby.jpeg" alt="hagrid">
<img src="/img/neville.jpeg" alt="hagrid">
<img src="/img/malfoy.jpeg" alt="hagrid">
<img src="/img/ron.jpeg" alt="hagrid">
<img src="/img/hedwig.jpg" alt="hagrid">
<img src="/img/madeye.jpg" alt="hagrid">
<img src="/img/dumbledore.jpg" alt="hagrid">
</div>

<%= yield %>
</body>
</html>